<template>
  <header>
    <h1>
      <router-link to="/">{{ title }}</router-link>
    </h1>
  </header>
</template>

<script>
export default {
  name: "Header",
  props: {
    title: String,
  },

}
</script>

<style scoped>
  h1 {
    margin: 0;
    padding: 2rem;
  }
  header {
    background-color: var(--surface-bg-color);
    text-align: center;
    color: var(--primary-color);
    margin: 0;
    margin-bottom: 2rem;
  }
</style>