<template>
  <section>
    <label> 
      {{ labelDescription }} 
      <input 
        type="number" 
        :placeholder="placeholder" 
        @change="onChange" 
        :min="1" 
        :max="50" 
        :value="defaultValue"
      />
    </label>
    
    
  </section>
</template>

<script>
export default {
  name: 'TriviaSettings',
  props: ['labelDescription', 'placeholder', 'onChange', 'defaultValue']
}
</script>

<style>

</style>