<template>
  <label>
    {{ labelDescription }}
    <select @change="onChange">
      <option v-for="option in options" :value="option.id" :key="option.id" :selected="option.id === 0 ? 'selected' : false">
        {{ option.name }}
      </option>
    </select>
  </label>
</template>

<script>
export default {
  name: 'SelectInput',
  props: ['labelDescription', 'onChange', 'options']
}
</script>

<style>

</style>