<template>
  <h2>Start Page</h2>
  <form>
    <TextInput 
      labelDescription="Username:" 
      placeholder="Username" 
      :onChange="onTextChangeHandler" />
    <NumberInput 
      labelDescription="Number of questions: " 
      placeholder="Number of questions" 
      :onChange="onNumberChangeHandler" 
      defaultValue="10" />
    <SelectInput
      labelDescription="Choose a category: " 
      :onChange="onCategoryChangeHandler" 
      :options="categories" />
    <SelectInput 
      labelDescription="Choose a difficulty: " :onChange="onDifficultyChangeHandler" 
      :options="difficulties" />
    <button type="button" @click="onStartClickHandler">Start</button>
  </form>
</template>

<script>
import TextInput from './TextInput.vue';
import NumberInput from './NumberInput.vue';
import SelectInput from './SelectInput.vue';
import { mapActions, mapState } from 'vuex';

export default {
  name: 'StartPage',
  components: {
    TextInput,
    NumberInput,
    SelectInput
  },
  async created() {
    await this.fetchCategoriesAtInit();
  },
  computed: {
    ...mapState(['categories', 'difficulties', 'amountQuestions'])
  },
  methods: {
    ...mapActions([
      'fetchCategoriesAtInit',
      'onCategoryChangeHandler',
      'onDifficultyChangeHandler',
      'onNumberChangeHandler',
      'onTextChangeHandler',
      'onStartClickHandler',
    ])
  }
}

</script>

<style>
h2 {
  text-align: center;
}
form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: var(--surface-bg-color);
  max-width: 80%;
  padding: 2rem;
}

</style>