<template>
  <section>
    <label>
      {{ labelDescription }} 
      <input 
        type="text" 
        :placeholder="placeholder" 
        @change="onChange"
      />
      </label>
  </section>
</template>

<script>
export default {
  name: 'TextInput',
  props: ['labelDescription', 'placeholder', 'onChange' ]
}
</script>

<style>
section {
  background-color: var(--surface-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: max-content;
  padding: 2rem;
}
input {
  padding: 0.8rem;
  border-radius: var(--border-r);
}
</style>