<template>
  <div id="app">
    <Header :title="title" />
    <main>
      <router-view />
    </main>
  </div>
</template>

<script>
import Header from './components/Header';

export default {
  name: 'App',
  data() {
    return {
      title: 'Trivia Game',
    };
  },
  components: {
    Header,
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --bg-color: #010101;
  --surface-bg-color: #121212;
  --focused-bg-color: #232323; 
  --primary-color: #598CA6;
  --variant-primary: #274959;
  --secondary-color: #A66A70;
  --on-surface-color: #FFFFFF;
  --on-primary-secondary: #000000;
  --border-r: 10px;
}
html {
  background-color: var(--bg-color);
  margin: 0;
  max-width: 100%;
  min-height: 100vh;
  color: var(--on-surface-color);
}
body {
  margin: 0;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
</style>
